[package]
name = "hayagriva"
version = "0.1.1"
authors = ["Martin Haug <mhaug@live.de>"]
edition = "2018"
license = "MIT OR Apache-2.0"
description = "Work with references: Literature database management, storage, and citation formatting"
repository = "https://github.com/typst/hayagriva"
readme = "README.md"
categories = ["template-engine", "value-formatting", "command-line-utilities"]
keywords = ["bibliography", "citation", "reference", "bibtex", "literature"]

[features]
default = ["biblatex"]
cli = ["clap"]

[dependencies]
biblatex = { version = "0.5", optional = true }
clap = { version = "3.1", optional = true, features = ["cargo"] }
chrono = { version = "0.4.15", default-features = false }
isolang = "2.1"
lazy_static = "1.4.0"
linked-hash-map = "0.5.3"
paste = "1.0.0"
regex = { version = "1.4", default-features = false, features = ["std", "unicode-perl"] }
strum = { version = "0.24", features = ["derive"] }
thiserror = "1.0.20"
unic-langid = "0.9.0"
unicode-segmentation = "1.6.0"
url = "2.1.1"
yaml-rust = "0.4.4"

[[bin]]
name = "hayagriva"
required-features = ["cli"]
